<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"  type="text/css" href="/main.css" />
        <title><%=shopData.shopName%></title>
    </head>
    <body>
        <h1><%=shopData.shopName%> Store</h1>
        <h2>These are the book we sell</h2>
        <ul>
             <% availableBooks.forEach(book => { %>
            <li>
                <strong><%= book.name %></strong>
                -- £<%= book.price %>
            </li>
            <% }) %>
        </ul>
    </body>
</html>